* {
	padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.world {
    background-color: black;
    width: 600px;
    height: 600px;
}

.player {
    position: absolute;
    width: 20px;
    height: 20px;
}

.player1 {
    background-color: green;
}

.player2 {
    background-color: red;
}

.arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: yellow;
}

.health {
    background: none;
    padding: 1rem;
    font-size: 1.5rem;
}

.health-player1 {
    color: green;
    text-align: left;
}

.health-player2 {
    color: red;
    text-align: right;
}
