/******************
DEFAULT
*******************/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


/******************
LAYOUT
*******************/
.container {
	max-width: 1000px;
	margin: 0 auto;
}
.row {
	display: flex;
	flex-wrap: wrap;
}

.col {
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
	padding-left: 1em;
	padding-right: 1em;
}
.col-1 {	flex: 0 0 8.33333333%; }
.col-2 {	flex: 0 0 16.66666667%; }
.col-3 {	flex: 0 0 25%; }
.col-4 {	flex: 0 0 33.33333333%; }
.col-5 {	flex: 0 0 41.66666667%; }
.col-6 {	flex: 0 0 50%; }
.col-7 {	flex: 0 0 58.33333333%; }
.col-8 {	flex: 0 0 66.66666667%; }
.col-9 {	flex: 0 0 75%; }
.col-10 {	flex: 0 0 83.33333333%; }
.col-11 {	flex: 0 0 91.66666667%; }

.align-items-center{
	align-items: center;
}


.nav-primary ul {
	display: flex;
	flex-direction: row;
	list-style: none;
}
.nav-primary a {
	margin-left: 2em;
}



.text-center {
	text-align: center;
}

.margin-auto {
	margin: 0 auto;
}

img {
	width: 100%;
	max-width: 100%;
}